{% extends "base.html" %}
{% load static %}

{% block title %}Suono ARPAV{% endblock title %}

{% block css %}
{% endblock css %}

{% block body %}
<h1 class="title">Suono</h1>

<form>
    <div>
        <label for="ora-inizio">Ora inizio</label>
        <input type="time" name="ora-inizio" value="{{ ora_inizio }}">
    </div>

    <div>
        <label for="ora-fine">Ora fine</label>
        <input type="time" name="ora-fine" value="{{ ora_fine }}">
    </div>
    <input type="submit" value="Aggiorna dati">
</form>

<img src={% static "suono_graph.png" %} alt="Grafico suono">

<table>
    <tr>
        <th>Data</th>
        <th>Ora</th>
        <th>LAeq (dB)</th>
    </tr>
    {% for dato in dati %}
    <tr>
        <td>{{ dato.data|date:"d/m/Y" }}</td>
        <td>{{ dato.ora|date:"H:i" }}</td>
        <td>{{ dato.laeq }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock body %}
