{% extends "base.html" %}
{% load static %}

{% block title %}Alba e tramonto{% endblock title %}

{% block css %}
<style>
    table, tr, td, th {
        border: 1px solid black;
    }
</style>
{% endblock css %}

{% block body %}
<h1 class="title">Alba e tramonto</h1>

<form>
    <div>
        <label for="data-inizio">Data inizio</label>
        <input type="date" name="data-inizio" value="{{ data_inizio }}">
    </div>

    <div>
        <label for="data-fine">Data fine</label>
        <input type="date" name="data-fine" value="{{ data_fine }}">
    </div>
    <input type="submit" value="Aggiorna dati">
</form>

<img src="{% static 'albatramonto_graph.png' %}" alt="Grafico">

<table>
    <tr>
        <th>Data</th>
        <th>Ora Alba</th>
        <th>Ora Tramonto</th>
        <th>Ora legale</th>
    </tr>
    {% for dato in dati %}
    <tr>
        <td>{{ dato.data|date:"d/m/Y" }}</td>
        <td>{{ dato.ora_alba|date:"H:i" }}</td>
        <td>{{ dato.ora_tramonto|date:"H:i" }}</td>
        <td>{% if dato.ora_legale %}Sì{% else %}No{% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% endblock body %}
